@import '@fontsource-variable/comfortaa';

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	@apply font-sans text-white bg-black p-10 leading-10;
}

@layer utilities {
	.gradient {
		@apply bg-gradient-to-br from-violet-900 from-30% to-fuchsia-600;
	}

	.center {
		@apply flex items-center justify-center;
	}
}
